spring:
  application:
    name: backend
  datasource:
    url: jdbc:mysql://localhost:3306/hisaabkitaab?useSSL=false&serverTimezone=UTC
    username: root
    password: Mjunaid@00
    driver-class-name: com.mysql.cj.jdbc.driver

  jpa:
    hibernate: 
      ddl-auto: update
    show-sql: true
    properties:
      hibernate: 
        format-sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  